<audio style="display: none;"  id=audio
(durationchange)="duration($event)"
(timeupdate)="null"
(seeked)="null"

#audioTag src="https://firebasestorage.googleapis.com/v0/b/spotify-clone-c20c4.appspot.com/o/mp3%2FX2Download.app%20-%20One%20Direction%20-%20Steal%20My%20Girl%20(128%20kbps).mp3?alt=media&token=127ad72f-75dc-4767-b71f-476d8fd7a6eb">

</audio>
<div style="width: 100%;height: 60px;background-color: black;display: flex;flex-direction: row; border-radius: 20px;color: white;">
<div style="height: 100%;"><mat-icon (click)="[audioTag?.play()]" type="button" style="color: white;font-size: 50px;height: 60px;width: 50px;">play_arrow</mat-icon></div>
<div style="margin-top:15px;">ProgressBar</div>
<div style="margin-top:15px;float: right;">&nbsp;&nbsp;{{toNumber(audioTag.currentTime.toString().split('.')[0])/60|number:'2.1-2'}}&nbsp;/&nbsp;{{toNumber(audioTag.duration.toString().split('.')[0])/60|number:'2.1-2'}}</div>
<div style="margin-top:15px;overflow: hidden;float: right;float: right;height: 17px;width:300px;border-radius: 25px;border: solid;border-width: thin;border-color: blueviolet;display: flex;flex-direction: row;">
  <div style="background-color: antiquewhite;height: 100%;"
   [style.width]="(toNumber(audioTag.currentTime.toString().split('.')[0])/toNumber(audioTag.duration.toString().split('.')[0]))*100+'%'"
   >
</div>
